/* ini file css */
h1 {
    font-size: 2rem;  
    margin: 20px 0;   
    text-align: center; 
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-logo{
    height: 50px;
    width: 50px;
    background-image: url(../assets/gambar3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
nav{
    display: flex;
}
nav > a{
    border: 1px solid;
    padding: 8px;
    text-decoration: none;
    color: black;
}
/*slide show content*/
.banner-img {
    width: 600px; 
    height: 400px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: 1px solid #ddd;
    }
.banner-1 {
        background-image: url('../assets/gambar1.jpg'); 
    }
.banner-2 {
        background-image: url('../assets/gambar2.jpg');
    }
.banner-3 {
        background-image: url('../assets/gambar3.jpg');
    }
.banner-4 {
        background-image: url('../assets/gambar4.jpg');
    }   
.our-profile-content{
    border: 1px solid;
    height: 300px;
    align-content: center;
    text-align: center;
}
.achievement-content{
    border: 1px solid;
    height: 300px;
    align-content: center;
    text-align: center;
}
.message-us-content{
    border: 1px solid;
    height: 300px;
    align-content: center;
    text-align: center;
}
footer{
    text-align: center;
}
/* Responsive */
@media only screen and (max-width: 480px){
    .main-header{
        flex-direction: column;
    }
}